@using MenuBoards.Web.ViewModels
@model MenuBoards.Web.ViewModels.MenuSlide

@{ var crumbs = new List<BreadcrumbItemViewModel>
{
new BreadcrumbItemViewModel
{
   Label = "View all slides",
   Url = Url.Action("ViewAllSlides", "Slide")
}
};
}

@{
    Html.RenderPartial("Breadcrumb", crumbs);
}


<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.Id)
    </dl>
</div>

<div>
    @Html.ActionLink("Design Settings", "Edit", "DesignSettings", new { slideId = Model.Id }, null) |
    @Html.ActionLink("Display Settings", "Edit", "DisplaySettings", new { slideId = Model.Id }, null)
    <hr />
</div>
<div>

    <p>
        @Html.ActionLink("Create New Menu", "AddMenu", "Menu", new { slideId = Model.Id }, new { @class = "btn btn-light"})
    </p>

    @if (Model.Menus.Any())
    {

        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Menu Heading
                    </th>
                    <th></th>
                    @if (Model.Menus.Count > 1)
                    {
                        <th>Position</th>
                    }
                </tr>
            </thead>

            @foreach (var item in Model.Menus)
            {
                var totalPositions = Model.Menus.Count - 1;
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MainMenuHeading)
                    </td>
                    <td>
                        <ul class="link-list">
                            <li>@Html.ActionLink("Edit", "Edit", "Menu", new { id = item.Id }, null)</li>
                            <li>@Html.ActionLink("View Details", "Details", "Menu", new { id = item.Id }, null)</li>
                            <li>@Html.ActionLink("Delete", "Delete", "Menu", new { id = item.Id }, null)</li>
                        </ul>
                    </td>

                    @if (Model.Menus.Count > 1)
                    {
                        <td>
                            <ul class="link-list position-list">
                                @if (item.Position != 0)
                                {
                                    <li>
                                        <a href="@Url.Action("MoveMenu", "Slide", new {id = item.Id, slideId = item.SlideId, direction = MoveDirection.Top})">
                                            Move Top
                                        </a>
                                    </li>
                                }
                                
                                @if (item.Position != 0 && item.Position != 1)
                                {
                                    <li>
                                        <a href="@Url.Action("MoveMenu", "Slide", new {id = item.Id, slideId = item.SlideId, direction = MoveDirection.Up})">
                                            Move Up
                                        </a>
                                    </li>
                                }

                                @if (item.Position != totalPositions && item.Position != totalPositions - 1)
                                {
                                    <li>
                                        <a href="@Url.Action("MoveMenu", "Slide", new {id = item.Id, slideId = item.SlideId, direction = MoveDirection.Down})">Move Down</a>
                                    </li>
                                }
                                
                                @if (item.Position != totalPositions)
                                {
                                    <li>
                                        <a href="@Url.Action("MoveMenu", "Slide", new {id = item.Id, slideId = item.SlideId, direction = MoveDirection.Bottom})">Move Bottom</a>
                                    </li>
                                }
                            </ul>
                        </td>
                    }
                </tr>
            }

        </table>
    }

</div>
