@using MenuBoards.Web.ViewModels
@model MenuBoards.Web.ViewModels.MenuSlide

@{ var crumbs = new List<BreadcrumbItemViewModel>
{
new BreadcrumbItemViewModel
{
   Label = "View all slides",
   Url = Url.Action("ViewAllSlides", "Slide")
}
};
}

@{
    Html.RenderPartial("Breadcrumb", crumbs);
}


<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.Id)
    </dl>
</div>

<div>
    @Html.ActionLink("Design Settings", "Edit", "DesignSettings", new { slideId = Model.Id }, null) |
    @Html.ActionLink("Display Settings", "Edit", "DisplaySettings", new { slideId = Model.Id }, null)
    <hr />
</div>
<div>

    <p>
        @Html.ActionLink("Create New Menu", "AddMenu", "Menu", new { slideId = Model.Id }, null)
    </p>

    @if (Model.Menus.Any())
    {

        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Menu Heading
                    </th>
                    <th></th>
                </tr>
            </thead>

            @foreach (var item in Model.Menus)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MainMenuHeading)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Menu", new { id = item.Id }, null) |
                        @Html.ActionLink("Details", "Details", "Menu", new { id = item.Id }, null) |
                        @Html.ActionLink("Delete", "Delete", "Menu", new { id = item.Id }, null)
                    </td>
                </tr>
            }

        </table>
    }

</div>
