@model IEnumerable<MenuBoards.Web.ViewModels.Slide>

<p>
    @Html.ActionLink("Create Menu Slide", "CreateMenuSlide") |
    @Html.ActionLink("Create Video Slide", "CreateMenuSlide")
</p>

@if (Model.Any())
{

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    Go live date and time
                </th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GoLiveDateTime)
                </td>
                <td>
                    @Html.ActionLink("Details", "SlideDetails", new {id = item.Id}) |
                    @Html.ActionLink("Delete", "DeleteSlide", new {id = item.Id}) |
                    @Html.ActionLink("Preview", "MenuSlide", "Display", new { slideId = item.Id, previewMode = true}, null)
                </td>
            </tr>
        }

    </table>
}
else
{
    <small>no slide available</small>
}